<h2 class="text-center">Recurso no encontrado.</h2>

<section class="w-75 mx-auto d-flex justify-content-center">
    <img
        src="https://img.freepik.com/vector-gratis/ups-error-404-ilustracion-concepto-robot-roto_114360-5529.jpg?w=2000"
        alt="Error 404"
    />
</section>


<style>
    section img {
        width: auto;
        max-height: 60vh;
    }
</style>